body {
    background-color: #333;
}

#app {
    background-color: white;
    position:absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.editable {
    cursor: all-scroll;
}

.handles {
    position:absolute;
    width:16px;
    height:16px;
    border-radius:16px;
    border: solid 4px #4bb1fe;
    background-color: #8dc4ff;
    cursor:pointer;
}